@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
:root {

  --primary-color: #173f5f   ;
  --secondary-color: #3caea3 ;
  --accent1-color: #e2f54e;
  --accent2-color: white;

  --heading-font: "Rock salt", arial, serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;
}


body{
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
}
#content{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}
header {
    background-color:var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
    
}
.logo{
    width:100%;
}
#logo_link {
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: var(--accent1-color);
    text-align: center;
    text-decoration: none;
    padding: 35px;
    font-size: large;
}
nav a:hover {
    background-color:var(--primary-color);
}
#hero-img{
    text-align: center;
    max-width: 60%;
}

.home-title{
    font-family: var(--heading-font);
    color:blue;
    font-size: 2.3em;
}
section p{
    font-family: var(--paragraph-font);
    font-size: 1em;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 1.5px
    
}

footer{
    background-color:var(--secondary-color);
    color:var(--accent1-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: rgb(55, 43, 126);
    text-decoration: none;
    
}
footer a:hover{
    background-color:var(--accent2-color);
}